<ion-view title="Chat" id="page6">
  <ion-content padding="false" scroll="false" class="has-header">
    <an-icon id="chat-container3" class="top-container">
      <ion-list id="chat-list6">
        <ion-item class="item-icon-left text" id="chat-list-item8">
          <i class="icon ion-ionic"></i>Item</ion-item>
      </ion-list>
    </an-icon>
    <form id="chat-form13" class="list bottom-form">
      <label class="item item-input" id="chat-input17">
        <span class="input-label">Message</span>
        <input type="text" placeholder="">
      </label>
      <button id="chat-button10" class="button button-positive button-block">Summit</button>
    </form>
  </ion-content>
</ion-view>